<div class="container panel show" id="homePage">
  <div class="row">
    <div class="col-md-9 col-md-offset-1">
      <br>
      <h3><%= @app.first_name%>&nbsp<%= @app.last_name %></h3>
        <br>
        <div class="col-md-6">
          <div class="form-group">
            <strong>First name:</strong>
            <%= @app.first_name %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <strong>Last name:</strong>
            <%= @app.last_name %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <strong>Mother's first name:</strong>
            <%= @app.mother_first_name %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <strong>Mother's last name:</strong>
            <%= @app.mother_last_name %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <strong>Nationality:</strong>
            <%= @app.nationality %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <strong>Phone number:</strong>
            <%= @app.phone %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <strong>Email:</strong>
            <%= @app.email %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <strong>Category:</strong>
            <%= @app.category %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <strong>Date of birth:</strong>
            <%= @app.date_of_birth %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <strong>Gender:</strong>
            <%= @app.gender %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <strong>Address:</strong>
            <%= @app.address %>
          </div>
        </div>
              <div class="col-md-6">
          <div class="form-group">
            <strong>Education:</strong>
            <%= @app.education %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <strong>Skills:</strong>
            <%= @app.skills %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <strong>Experience:</strong>
            <%= @app.experience %>
          </div>
        </div>
       <%= link_to 'Done!', new_app_path %>
    </div>
  </div>
</div>
